// Bullgrid
$default-spacing: .85em;

@import "compass", 
				"fonts",
				"modules",
				"bullgrid",
				"logo",
				"blocks",
				"vote" 
;
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

$unit--alpha: .85em;

$font--alpha: 'Lato', sans-serif;

$list--alpha: #71f4c8 #71bdf4 #8771f4 #e971f4 #f4719d;
$fukkk-color-list--neutral: #333 #777;

$fukkk-color--background: #3c3c3c;


// Bullgrid
$default-spacing: .85em;

* {
	@include box-sizing(border-box);
}

body {
	font: 1em $font--alpha;
	margin: 0;
	background: $fukkk-color--background;
	color: $fukkk-color--background;

  @include background(
    linear-gradient(top, $fukkk-color--background, #666)
  );

	@include breakpoint(small) {
		font-size: .85em;
	}
}

.wrapper {
	max-width: 65em;
	margin: 0 auto;

	@include breakpoint(small) {
		padding: 0 $unit--alpha;
	}
}

a {
	text-decoration: none;
	color: #111;

  &:hover {
		color: #fff;
	}
}

h1 {
	font: bold 5em $font--alpha; 
	margin: .15em 0 .15em 0;
	color: #fff;
	text-align: center;
}

h2 {
	font: bold 2em $font--alpha; 
	color: #fff;
	text-align: center;
	margin: 0 0 $unit--alpha 0;
}

h3 {
	font: 400 2.5em/1.35 $font--alpha;
	text-align: center;
	margin: $unit--alpha / 4 0 0 0;
	color: #fff;
}

hr {
	border: none;
	height: $unit--alpha / 2;
	background: #fff;
	margin: $unit--alpha * 3 0;

	@include breakpoint(small) {
		margin: $unit--alpha * 6 0;
	}
}

input[type="email"] {
	width: 100%;
	border: none;
	background: #fff !important;
	line-height: $unit--alpha * 1.5;
	font-size: 1.75em;
	color: $fukkk-color--background;
	padding: $unit--alpha .25em;
	margin: 0;

	@include breakpoint(small) {
		margin: $unit--alpha 0 0 0;
	}
}

button {
	margin: 0;
	border: none;
	padding: .25em;
	width: 100%;
	font-family: sans-serif;
	font-size: 2em;
	cursor: pointer;
	padding: .5825em .25em;

	&.button__alpha {
		background: reverse-lightness(#333);
		color: #333;

		&:hover {
		  background: #71bdf4;
		  color: #fff;
		}
	}
}



.list__alpha,
.list__neutral {
	font: 1em $font--alpha;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.75em;
	line-height: 1.65em;

	p, li {
		padding: $unit--alpha .5em;
		margin-bottom: $unit--alpha / 2;
		box-shadow: 0 0 $unit--alpha / 4 darken($fukkk-color--background, 10%);

		$i: 1;

		@each $color in $list--alpha {
			&:nth-child(#{$i}) {
				background: $color;
				color: reverse-lightness($color);
			}

			$i: $i + 1;
		}
	}
}

.list__alpha {
	counter-reset: list__alpha;

	li {
		position: relative;
		padding-left: 1.35em;
		padding-right: 2.25em;

		&:before {
			margin-left: -.95em;
		  counter-increment: list__alpha; 
		  content: "" counter(list__alpha) ". ";
		}
	}
}

.list__neutral {
	p, li {
		$i: 1;

		@each $color in $fukkk-color-list--neutral {
			&:nth-child(#{$i}) {
				background: reverse-lightness($color);
				color: $color;
			}

			$i: $i + 1;
		}
	}
}

.alpha {
	padding: $unit--alpha;
}

.beta {
	@include breakpoint(small) {
		margin-top: 0;
	}
}


section {
	@extend .cf;

	&.black {
	}

	&.vote {
		padding: $unit--alpha $unit--alpha;
		margin: $unit--alpha 0;
		border-top: $unit--alpha solid #fff;
		border-bottom: $unit--alpha solid $fukkk-color--background; 
	}
}


footer {
	@extend %block-white;

  margin-top: $unit--alpha * 2;
  padding-bottom: $unit--alpha * 4;

  @include breakpoint(small) {
    margin-left: $unit--alpha;
  }

  .list__neutral {
  	li {
  		box-shadow: none;
  	}
  }
}